/* GENERAL */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$text-color: black ;

@mixin flexDisplayJustify($display, $direction, $justify-content) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify-content;
}

@mixin widthHeight($width, $height){
  width: $width;
  height: $height;
}

/* BASEPAGE - baseTemplage.js*/

.main {
  min-height: 100vh;
  background-image: url('../src/images/poly-blue-bg.jpg') ;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.main-body-template-page{
  min-height: 90%;
  height: auto;
  padding: 0 5% 0 5%;
  @include flexDisplayJustify(flex, row, flex-start)
}

/* NAVBAR */

nav.navbar {
  background-image: linear-gradient(90deg, rgb(205, 255, 216) 0%, rgb(148, 185, 255) 100%);
  height: 58px;
  @include flexDisplayJustify(flex, row, flex-start)
}

.navbar-buttons{
  padding: 20px;
  text-decoration: none;
  color: black;
}
.navbar-buttons:hover{
  background-image: linear-gradient(180deg, #cdffd8 0%, #94b9ff 100%);
  cursor: pointer;
}

.intro{
  padding: 20%;
  h1, p {
    text-align: center;
  }
}

h1.header, h2.header{
  font-size: 4em;
  text-shadow: 2px 4px 5px #565555;
  text-align: center;
} 

p.subheader{
  font-size: 1.5em;
}

/*QUESTIONNAIRE PAGE CSS - questionnaire.js file*/

.header-position{
  padding-top: 10%;
}

/* quiz_1.js file*/

.questionnaire-header{
  background-color: rgba(194, 255, 114, 0.341);
  padding: 2%;
  text-align: center;
  font-size: 1.5em;
  width: 96%
}

div.custom-select{
  position: relative;
}

select{
  background: #f2f2f2;
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
  font-size: 16px;
  color: #333;
}

/*quiz_2.js files*/

.quiz-component-center{
  align-items: center;
  @include flexDisplayJustify(flex, column, center)

}

.form-custom{
  @include flexDisplayJustify(flex, row, center);
  align-items: center;
}

.radio-button-hide{
  display: none;
}

label.radio-button{
  padding: 60px 20px;
  margin: 0 20px;
  background-color: rgba(15, 141, 251, 0.641);
  border: none;
  border-radius: 5px;
  border-width: 3px;
  cursor: pointer;
  color: #fff;
}

input[type="radio"]:checked + label.radio-button{ 
  border-style: solid;
  border-width: 2px;
  border-color: rgba(194, 255, 114, 0.59);
}

/*FORM SECTION - formSection.js*/

div.form-section{
  width: 50%;
  margin-right: 10em;
  min-height: 80vh;

  button{
    border: none;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    background: linear-gradient(125deg, rgb(90, 232, 246) 0%, rgb(73, 255, 18) 100%);
    color: white;
  }
}

/* template_component -> Modern.js file*/

.template{
  display: flex;
  color: white;
  background-color: white;
  min-height: 500px;
  max-width: 380px;
}

.flex-outer{
  flex: 1;
  @include flexDisplayJustify(flex, row, flex-start);
  min-width: 380px;
}

.left-side{
  width: 35%;
  background-color: aqua;
  color: $text-color;
}
.right-side{
  width: 65%;
  background-color: antiquewhite;
  color: $text-color;
}

/*PROFILE CSS*/

/*FORM SHARED CSS - Profile.js, education.js*/
.form-component-subheader{
  font-size: 1.5em;
}

#profile-form div{ 
  @include flexDisplayJustify(flex, row, flex-start);

  label{
    margin-right: 30px;
    width: 30%;
  }

  input{
    width: 70%;
    border-width: 0;
  }
}
#profile-form input[type="submit"]{
  border: none;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  background: linear-gradient(125deg, rgb(90, 232, 246) 0%, rgb(73, 255, 18) 100%);
  color: white;
}












/*PREVIEW PAGE CSS*/

.preview{
  display: flex;
  justify-content: center;
}

/*SURVEY CSS*/

.slider-question{
  display: flex;
  flex-direction: row;
}

.textarea-custom{
  display: flex;
  flex-direction: column;
}

.fontsize-test {
  font-size: 0.6rem;
}