/* GENERAL */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$text-color: black ;

@mixin flexDisplayJustify($display, $direction, $justify-content) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify-content;
}

@mixin widthHeight($width, $height){
  width: $width;
  height: $height;
}

.button-css{
  border: none;
  border-radius: 20px;
  text-decoration: none;
  background: linear-gradient(125deg, rgb(90, 232, 246) 0%, rgb(73, 255, 18) 100%);
  color: white;
}

@mixin buttonWidthPaddgin($width, $padding) {
  width: $width;
  padding: $padding;
}

button, input[type="submit"]{
  animation: animate-button 1s ease-in;
}
@keyframes animate-button{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* BASEPAGE - baseTemplage.js*/

.main {
  min-height: 100vh;
  background-image: url('../src/images/poly-blue-bg.jpg') ;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: auto;
}

.main-body-template-page{
  min-height: 90%;
  height: auto;
  padding: 0 5% 0 5%;
  @include flexDisplayJustify(flex, row, center)
}

/* NAVBAR */

nav.navbar {
  background-image: linear-gradient(90deg, rgb(205, 255, 216) 0%, rgb(148, 185, 255) 100%);
  height: 58px;
  @include flexDisplayJustify(flex, row, flex-start)
}

.navbar-buttons{
  padding: 20px;
  text-decoration: none;
  color: black;
}
.navbar-buttons:hover{
  background-image: linear-gradient(180deg, #cdffd8 0%, #94b9ff 100%);
  cursor: pointer;
}

/* MAINPAGE - main.js*/
.intro{
  animation: animate-intro 1s ease-in;
  padding: 20%;
  position: relative;
  h1, p {
    text-align: center;
  }
}
@keyframes animate-intro {
  0% {opacity: 0; top: -60px;}
  100% {opacity: 1; top: 0px;}
}

h1.header, h2.header{
  animation: animate-h1h2header 1s ease-in-out;
  font-size: 4em;
  text-shadow: 2px 4px 5px #565555;
  text-align: center;
} 
@keyframes animate-h1h2header {
  0% {opacity: 0; }
  100% {opacity: 1;}
}

p.subheader{
  font-size: 1.5em;
}

/*QUESTIONNAIRE PAGE CSS - questionnaire.js file*/

.header-position{
  padding-top: 10%;
}

/* quiz_1.js file*/

.questionnaire-header{
  animation: animate-quetionnaire-header 0.5s ease-in;
  background-color: rgba(194, 255, 114, 0.341);
  padding: 2%;
  text-align: center;
  font-size: 1.5em;
  width: 96%;
  height: 30px;
}
@keyframes animate-quetionnaire-header {
  0% {width: 0;}
  100% {width: 96%;}
}

.questionnaire-h3{
  animation: animate-questionnaire-h2 1s ease-in; 
  max-height: 100px;
  height: auto;
}
@keyframes animate-questionnaire-h2{
  0% {opacity: 0; max-height: 0;}
  60% {opacity: 0; }
  100% {opacity: 1; max-height: 30px;}
}

div.custom-select{
  position: relative;
}

select{
  background: #f2f2f2;
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
  font-size: 16px;
  color: #333;
}

/*quiz_2.js files*/

.quiz-component-center{
  align-items: center;
  @include flexDisplayJustify(flex, column, center)

}

.form-custom{
  @include flexDisplayJustify(flex, row, center);
  align-items: center;
}

.radio-button-hide{
  display: none;
}

label.radio-button{
  padding: 60px 20px;
  margin: 0 20px;
  background-color: rgba(15, 141, 251, 0.641);
  border: none;
  border-radius: 5px;
  border-width: 3px;
  cursor: pointer;
  color: #fff;
}

input[type="radio"]:checked + label.radio-button{ 
  border-style: solid;
  border-width: 2px;
  border-color: rgba(194, 255, 114, 0.59);
}

/*FORM SECTION - formSection.js*/

div.form-section{
  width: 50%;
  margin-right: 10em;
  min-height: 80vh;

  .back-next-option{
    @include flexDisplayJustify(flex, row, space-between)
  }

  button{
    @extend .button-css;
    @include buttonWidthPaddgin(35%, 10px);
    cursor: pointer;
  }
}

.questionnaire-section > section > div{
  width: 50%;
  margin: auto;
  @include flexDisplayJustify(flex, row , center);

  button{
    margin: 20px 50px 0 50px ;
    @extend .button-css;
    @include buttonWidthPaddgin(15%, 10px);
    cursor: pointer;
  }
  
}

/* template_component -> Modern.js file*/

.template{
  display: flex;
  color: white;
  background-color: white;
  min-height: 500px;
  max-width: 380px;
}

.flex-outer{
  flex: 1;
  @include flexDisplayJustify(flex, row, flex-start);
  min-width: 380px;
}

.left-side{
  width: 35%;
  background-color: aqua;
  color: $text-color;
  padding: 10px 0 0 10px;
}
.right-side{
  width: 65%;
  background-color: white;
  color: $text-color;
  padding: 10px
}

/*PROFILE CSS*/

/*FORM SHARED CSS - Profile.js, education.js...*/
.field-div,.field-div-dates{
  animation: animate-field-div 1s ease-in-out;
  position: relative;
}
@keyframes animate-field-div{
  0% {opacity: 0; top: -50px;}
  100% {opacity: 1; top: 0;}
}

#profile-header-div{
  font-size: 1.5em;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.form-component-subheader{
  animation: animate-form-component-subheader 1.6s ease; 
  font-size: 1.5em;
  overflow: hidden;
  width: 100%;
  word-wrap: normal;
  white-space: nowrap;
}
@keyframes animate-form-component-subheader{
  0% {width: 0%}
  100% {width: 100%}
}

.cv-form{
  position: relative;
}

#helpbox-education{
  position: absolute;
  top: 320px;
  right: -400px;
  width: 350px;
  height: auto;
  background-color: rgba(15, 140, 250, 0.7) ;
  padding: 10px;
  z-index: 1;
  font-size: 9px;
  color: white;
}
#helpbox-education p{
  font-size: 8px;
  color: white;
}
#helpbox-education span{
  position: relative;
  left: 340px;
  cursor: pointer;
}


.cv-form .field-div-dates{
  @include flexDisplayJustify(flex, row, space-between);
  margin: 50px 0 50px 0;
}

.cv-form .field-div{ 
  @include flexDisplayJustify(flex, row, flex-start);
  margin: 50px 0 50px 0;

  div{
    @include flexDisplayJustify(flex, column, flex-start);
    width: 50%;

    label{
      width: 50%;
    }
  }

  label{
    margin-right: 30px;
    width: 30%;
  }

  input{
    width: 70%;
    border-width: 0;
  }
}

.cv-form section{
  animation: animate-quill 1s ease-in;
  @include flexDisplayJustify(flex, column, baseline)
}

@keyframes animate-quill {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.cv-form input[type="submit"], .main-body-template-page>form>div>input[type="submit"]{
  @extend .button-css;
  @include buttonWidthPaddgin(30%, 10px);
  cursor: pointer;
}

.edit-individual-component-div {
  background: rgba(15, 140, 250, 0.5);
  padding: 3%;
  margin-bottom: 15px;

  p, p + a, p + div + a{
    font-size: 0.7em;
  }

  a{
    display: flex;
    justify-content: center;
    @extend .button-css;
    @include buttonWidthPaddgin(15%, 5px);
  }
}

.suggestions-container{
  background: linear-gradient(125deg, rgba(90, 233, 246, 0.749) 0%, rgba(73, 255, 18, 0.563) 100%);
  padding: 3%;
  margin-bottom: 15px;
}

.delete-button{ 
  @include flexDisplayJustify(flex, row, center);
  width: 50%;
  margin: 0 auto 20px auto;

  button{
    border: none !important;
    text-decoration: underline !important;
    background: none !important;
    color: red !important;
    cursor: pointer;
  }
}


/*EDIT PAGES education.js and experience.js*/






/*PREVIEW ( FINAL CV COMPONENT ) PAGE CSS - previewTemplate.js*/

.cv-preview{
  position: relative;
  animation: animate-cv-preview 1s ease-in-out;
}
@keyframes animate-cv-preview{
  0% {opacity: 0; left: -50px;}
  100% {opacity: 1; left: 0;}
}

.preview{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cv-options{
  @include flexDisplayJustify(flex, column, center);
  align-items: center;
  width: 20%;

  a, button{
    @extend .button-css;
    @include buttonWidthPaddgin(auto, 15px);
    margin: 20% 0 20% 0;
    text-align: center
  }

  button{
    height: 100px;
    cursor: pointer;
  }

  div{
    width: 100%;
    @include flexDisplayJustify(flex, column, center);
    align-items: center;

    input{
      border: none;
      border-radius: 5px;
    }
  }
} 

/* END SURVEY CSS */

.slider-question{
  @include flexDisplayJustify(flex , row, flex-start);
  margin: 5px 0 20px 0;
}

input[type="range"]{
  width: 100%;
}
.main-body-template-page>form>div{
  @include flexDisplayJustify(flex, row, flex-end);
}

.textarea-custom{
  @include flexDisplayJustify(flex, column !important, flex-start); 
}

#textarea-user-opinion{
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  resize: none;
  width: 100% !important;
}

.fontsize-test {
  word-wrap: break-word;
  font-size: 0.6rem;
}

#end-survey-form{
  position: relative;
  margin-top: 20px;
  animation: animate-end-survey-form 1s ease-in;
}
@keyframes animate-end-survey-form {
  0% {opacity: 0; top: -60px; }
  100% {opacity: 1; top: 0;}
}




//*********************************** MEDIA QUERY **********************************//
/** TABLET 768PX AND SMALLER **/
@media screen and (max-width: 768px){

  /* Questionnaire section */
  h2.header{
    font-size: 2em;
  }
  .questionnaire-header{
    font-size: 0.9em;
    height: 23px;
  }
  .questionnaire-section > section > div{
    width: 100%;
  }
  .questionnaire-section > section > div button{
    width: auto;
  }

  div.form-section{
    width: 100%;
    margin-right: 0.5em;
  }
}

/** SMARTPHONE 425PX AND SMALLER **/
@media screen and (max-width: 667px){

  p.subheader{
    margin-top: 5px;
  }

  /* Questionnaire section */
  h1.header, h2.header{
    font-size: 2em;
  }
  .questionnaire-header{
    font-size: 0.8em;
    height: 25px;
  }
  .questionnaire-section > section > div{
    width: 100%;
  }
  .questionnaire-section > section > div button{
    width: auto;
  }

  /* CV Form section */
  .main-body-template-page{
    flex-direction: column;
  }
  div.form-section{
    width: 100%;
    margin-right: 0;
  }
  #helpbox-education{
    top: 420px;
    right: 0px;
    width: 94%;
  }
  .back-next-option{
    margin-bottom: 5px;
  }

  /* Edit section */
  form.cv-form{
    width: 90% !important;
    margin: auto;
  }

  /* Preview section */
  .preview{
    flex-direction: column;
    align-items: center;
  }
  .cv-options{
    flex-direction: row;
    width: auto;
  }
}
