.main {
  background-color: rgba(53, 53, 53, 0.76);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.837);
  height: 58px;
}

.section1{
  height: calc(100vh - 50px);
}

.header{
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

/*QUESTIONNAIRE PAGE CSS*/

