.main {
  background-color: rgba(53, 53, 53, 0.76);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.837);
  height: 58px;
}

.section1{
  height: calc(100vh - 50px);
}

.header{
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

/*CUSTOMISABLE PAGE CSS*/

.draggable {
  position: absolute ;
  width: 10%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
}